{% extends "base.html" %}
{% block title %}
    Projects
{% endblock %}
{% block content %}
            <!-- Projects Section-->
            <section class="py-5">
                <div class="container px-5 mb-5">
                    <div class="text-center mb-5">
                        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Projects</span></h1>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-11 col-xl-9 col-xxl-8">
                            <!-- Project Card 1-->
                            <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center">
                                        <div class="p-5">
                                            <h2 class="fw-bolder">FindSimilar</h2>
                                            <p><a href="https://github.com/findsimilar/find-similar" target="_blank">GitHub</a></p>
                                            <p><a href="http://demo.findsimilar.org" target="_blank">Demo Webapp</a></p>
                                            <p><a href="http://api.findsimilar.org" target="_blank">Demo API</a></p>
                                            <p><a href="https://findsimilar.org" target="_blank">Official website</a></p>

                                            <p>User-friendly library to find similar objects</p>
                                        </div>
                                        <img width="300px" class="img-fluid" src="{% static 'images/findsimilar.png' %}" alt="FindSimilar logo" />
                                    </div>
                                </div>
                            </div>
                            <!-- Project Card 2-->
                            <div class="card overflow-hidden shadow rounded-4 border-0">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center">
                                        <div class="p-5">
                                            <h2 class="fw-bolder">LavaCactus</h2>
                                            <p><a href="https://github.com/quillcraftsman/lavacactus" target="_blank">GitHub</a></p>
                                            <p><a href="https://lavacactus.craftsman.lol" target="_blank">Project website</a></p>
                                            <p>Simple but powerful static website generator using Python and the Django template system</p>
                                        </div>
                                        <img width="300px" class="img-fluid" src="{% static 'images/lavacactus.png' %}" alt="FindSimilar logo" />
                                    </div>
                                </div>
                            </div>
                            <!-- Project Card 3-->
                            <div class="card overflow-hidden shadow rounded-4 border-0">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center">
                                        <div class="p-5">
                                            <h2 class="fw-bolder">Open Source Checklist</h2>
                                            <p><a href="https://github.com/quillcraftsman/open-source-checklist" target="_blank">GitHub</a></p>
                                            <p>Checklist to build successful open source projects</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Call to action section-->
            <section class="py-5 bg-gradient-primary-to-secondary text-white">
                <div class="container px-5 my-5">
                    <div class="text-center">
                        <h2 class="display-4 fw-bolder mb-4">Let's build something together</h2>
                        <a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" href="{% url '/contact.html' %}">Contact me</a>
                    </div>
                </div>
            </section>

{% endblock %}

</html>
